#logo-bar, #title-bar, #menu-bar, .card, #form-or-about, #guest-area-rnd, #guest-area-rect, #event-area-rnd, #event-area-rect, footer {
  position: fixed;
}

#button-area {
  position: relative;
  top: 145px;
  text-align: center;
}

.button {
  width: 80px;
  padding: 7px 12px 7.5px 12px;
  margin: 0px 15px;
  border-radius: 20px;
  border-style: hidden;
  font-family: inherit;
  font-size: large;
}

.delete {
  background-color: rgb(252, 120, 120, 0.7);
  box-shadow: .5px .5px 2px rgb(126, 60, 60);
}

.unseat {
  background-color: rgba(110, 176, 250, 0.7);
  box-shadow: .5px .5px 2px rgb(55, 88, 125);
}


/* HEADER, FOOTER, & CHILDREN */

header, footer {
  left: 0px;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.35);
}

header {
  top: 0px;
  height: 7.1vh;
  box-shadow: 0px 1px 4px rgb(130, 130, 130);
}

footer {
  bottom: 0px;
  height: 1vh;
  padding: 2vh 0vw;
  justify-content: center;
  box-shadow: 0px -1px 4px rgb(130, 130, 130);
}

footer, #logo-bar, #title-bar, #menu-bar {
  display: flex;
  align-items: center;
}

#logo-bar, #title-bar, #menu-bar {
  top: 0px;
  height: 7vh;
  /* background-color: rgba(128, 128, 128, 0.5); */
}

#logo-bar {
  left: 0px;
  width: 24vw;
  padding-left: 3vw;
}

#title-bar {
  left: 27vw;
  width: 47vw;
  font-family: cursive;
  font-size: 1.7em;
  justify-content: center;
}

#menu-bar {
  right: 0px;
  width: 24vw;
  padding-right: 2vw;
  justify-content: flex-end;
}

#logo {
  margin: .25vh 2vw 0vh 0vw;
  margin-bottom: .5vh;
  font-family: cursive;
  font-size: 5.5vh;
  word-spacing: -4px;
}


/* CARDS */

.card {
  box-shadow: 2px 2px 9px rgb(130, 130, 130);
  border-radius: 8px;
  z-index: 1;
  background-color: rgba(89, 142, 199, 0.65);
  backdrop-filter: blur(6px);
  font-size: 3vh;
  line-height: 1.75em;
}

#form {
  top: 23vh;
  left: 30.5vw;
  width: 35vw;
  padding: 2vh 2vw;
}

#about {
  top: 15vh;
  left: 22vw;
  width: 50vw;
  padding: 1vh 3vw;
}


/* PAGE ZONES */

#non-event-area-rnd, #non-event-area-rect, #event-area-rnd, #event-area-rect {
  display: flex;
  align-items: center;
  justify-content: center;
}

#non-event-area-rnd, #non-event-area-rect {
  background-color: rgba(128, 128, 128, 0.15);
}

/* #non-event-area-rnd {

} */

#non-event-area-rect {
  top: 7.1vh;
  left: 0px;
  height: 40vh;
  width: 100vw;
}

  #guest-area-rnd, #guest-area-rect {
    display: grid;
    border: 3px solid rgba(127, 127, 127, 0.35);
    border-radius: 30px;
  }

  #guest-area-rnd {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    left: 0px;
    height: 75.4vh;
    width: 15vw;
    padding: 7.5vh 5vw 5vh 6vw;
  }

  #guest-area-rect {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 234px;
    width: 468px;
    padding: 10px;
    margin-left: -142px;
  }

  .guest-info {
    border-radius: 30px;
    border: 3px solid rgba(127, 127, 127, 0.35);
  }

  #guest-info-rnd {
    width: 28vw;
  }

  #guest-info-rect {
    height: 229px;
    width: 220px;
    padding: 0px 25px 25px 25px;
    margin-left: 480px;
  }

#event-area-rnd {
  top: 7.1vh;
  left: 26vw;
  height: 87.9vh;
  width: 74vw;
}

#event-area-rect {
  top: 47.1vh;
  left: 0px;
  height: 47.9vh;
  width: 100vw;
  /* background-color: rgba(128, 128, 128, 0.4); */
}

  #seating-area-rnd, #seating-area-rect {
    position: absolute;
    /* background-color: rgba(128, 128, 128, 0.5); */
  }

  #seating-area-rnd {
    height: 462px;
  }
  #seating-area-rect {
    height: 272px;
  }


/* ITEMS */

#table-rnd, #table-rect, .chair, .guest {
  display: flex;
  align-items: center;
  justify-content: center;
}

#table-rnd, #table-rect, .chair {
  position: absolute;
}

#table-rnd, #table-rect {
  flex-direction: column;
  top: 70px;
  left: 70px;
  font-size: large;
  line-height: 1.75em;
  background-color: white;
  border: 1.5px solid rgba(130, 130, 130, .30);
  }

#table-rnd {
  height: 322px;
  border-radius: 167px;
}

#table-rect {
  height: 132px;
  border-radius: 13px;
}

.chair, .guest {
  box-shadow: 1px 1px 4px rgb(130, 130, 130);
}

.chair {
  height: 66px;
  width: 66px;
  border-radius: 39px;
  background-color: rgb(150, 124, 106);
  box-shadow: .5px .5px 2.5px rgb(85, 71, 69);
}

.guest {
  height: 58px;
  width: 58px;
  margin: 10px;
  border-radius: 33px;
  background-color: rgb(142, 188, 142);
  box-shadow: .5px .5px 2.5px rgb(71, 94, 71);
}

#selected {
  background-color: rgb(165, 215, 165);
}
