#logo, nav, #about-form, #guest-area-rnd, #seating-area-rnd, #guest-area-rect, #seating-area-rect, footer {
  position: fixed;
}

#logo, nav, footer {
  background-color: rgba(128, 128, 128, 0.25);
}

#logo {
  top: 0px;
  left: 0px;
  width: 15vw;
  height: 9vh;
  padding: 0vh 2vw;
  font-family: cursive;
  font-size: 5.5vh;
}

nav {
  top: 0px;
  left: 19vw;
  width: 85vw;
  height: 3vh;
  padding: 3vh 0vw;
  text-align: center;
}

.card {
  position: fixed;
  border-radius: 8px;
  z-index: 1;
  background-color: rgba(183, 29, 255, 0.5);
  backdrop-filter: blur(7px);
  font-size: 3vh;
}

#about-form {
  top: 15vh;
  left: 25vw;
  width: 44vw;
  padding: 2vh 3vw;
}

.guest-info {
  padding: 0vh 2.5vw;
}

#guest-info-1-rnd {
  top: 15vh;
  left: 30vw;
  width: 28vw;
}

#guest-info-2-rnd {
  top: 15vh;
  left: 65vw;
  width: 28vw;
}

#guest-info-1-rect {
  top: 30vh;
  left: 9vw;
  width: 35vw;
}

#guest-info-2-rect {
  top: 30vh;
  left: 51vw;
  width: 35vw;
}

#guest-area-rnd {
  top: 9vh;
  left: 0px;
  width: 40vw;
  height: 84.5vh;
  background-color: rgba(128, 128, 128, 0.75);
}

#guest-area-rect {
  top: 9vh;
  left: 0px;
  width: 100vw;
  height: 21vh;
  background-color: rgba(128, 128, 128, 0.75);
}

#seating-area-rnd {
  top: 9vh;
  left: 40vw;
  width: 60vw;
  height: 84.5vh;
  background-color: rgba(128, 128, 128, 0.5);
}

#seating-area-rect {
  top: 30vh;
  left: 0px;
  width: 100vw;
  height: 63.5vh;
  background-color: rgba(128, 128, 128, 0.5);
}

footer {
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 2.5vh;
  padding: 2vh 0vw;
  text-align: center;
  font-weight: 500;
}


/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
