#logo-bar, #menu-bar, .card, #about-form, #guest-area-rnd, #seating-area-rnd, #guest-area-rect, #seating-area-rect, #table, .chair, footer {
  position: fixed;
}


/* HEADER, FOOTER, & CHILDREN */

header, footer {
  left: 0px;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.35);
}

header {
  top: 0px;
  height: 7.1vh;
  box-shadow: 0px 1px 6px rgb(130, 130, 130);
}

footer {
  bottom: 0px;
  height: 1vh;
  padding: 2vh 0vw;
  justify-content: center;
  box-shadow: 0px -1px 6px rgb(130, 130, 130);
}

footer, #logo-bar, #menu-bar {
  display: flex;
  align-items: center;
}

#logo-bar, #menu-bar {
  top: 0px;
  height: 7vh;
}

#logo-bar {
  left: 0px;
  width: 27vw;
  padding-left: 3vw;
}

#menu-bar {
  left: 30vw;
  width: 68vw;
  padding-right: 2vw;
  justify-content: flex-end;
}

#logo {
  margin: .25vh 4.5vw 0vh 0vw;
  margin-bottom: .5vh;
  font-family: cursive;
  font-size: 5.5vh;
  word-spacing: -4px;
}


/* CARDS */

.card {
  box-shadow: 2px 2px 9px rgb(130, 130, 130);
  border-radius: 8px;
  z-index: 1;
  background-color: rgba(27, 133, 233, 0.45);
  backdrop-filter: blur(6px);
  font-size: 3vh;
}

#about-form {
  top: 15vh;
  left: 25vw;
  width: 44vw;
  padding: 2vh 3vw;
}

.guest-info {
  padding: 0vh 2.5vw;
}

#guest-info-1-rnd {
  top: 15vh;
  left: 30vw;
  width: 28vw;
}

#guest-info-2-rnd {
  top: 15vh;
  left: 65vw;
  width: 28vw;
}

#guest-info-1-rect {
  top: 30vh;
  left: 9vw;
  width: 35vw;
}

#guest-info-2-rect {
  top: 30vh;
  left: 51vw;
  width: 35vw;
}


/* PAGE ZONES */

.guest-area {
  display: grid;
  top: 7.1vh;
  left: 0px;
  background-color: rgba(128, 128, 128, 0.15);
}

#guest-area-rnd {
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 77.9vh;
  width: 16vw;
  padding: 5.5vh 4vw 5vh 6vw;
}

#guest-area-rect {
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 26vh;
  width: 90vw;
  padding: 1.5vh 5vw;
}

#seating-area-rnd {
  top: 7.1vh;
  left: 26vw;
  width: 74vw;
  height: 87.9vh;
  /* background-color: rgba(128, 128, 128, 0.5); */
}

#seating-area-rect {
  top: 338vh;
  left: 0px;
  width: 100vw;
  height: 63.5vh;
  /* background-color: rgba(128, 128, 128, 0.5); */
}


/* ITEMS */

#table {
  display: flex;
  flex-direction: column;
  top: 24vh;
  left: 50vw;
  height: 378px;
  width: 378px;
  border-radius: 189px;
  font-size: 2.75vh;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 1px 3.5px rgb(130, 130, 130);
}

.chair {
  display: flex;
  height: 76px;
  width: 76px;
  border-radius: 38px;
  align-items: center;
  justify-content: center;
  background-color: tan;
  box-shadow: 1px 1px 4px rgb(130, 130, 130);
}

.guest {
  display: flex;
  height: 68px;
  width: 68px;
  margin: 1vh 0vw;
  border-radius: 33px;
  align-items: center;
  justify-content: center;
  background-color: darkseagreen;
  box-shadow: 1px 1px 4px rgb(130, 130, 130);
}


/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
