body {
  background-color: rgb(230, 230, 230);
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin: 0vw 2vw;
  font-weight: 500;
}

a:link, a:active, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #505050;
}

#exit {
  position: absolute;
  top: .5vh;
  right: 1.5vh;
  font-family: monospace;
  font-size: 2em;
  font-weight: 500;
  color: rgb(55, 55, 55);
}
